<div class="flex-container header">
    <h1>News</h1>
    <button class="scrape">Scrape new news!</button>
    <h1>Notes</h1>
</div>
<div>
    {{#each dbArticle}}
    <div class="flex-container">
        <div class="article-info">
            <h2><a href={{this.link}}>{{this.headline}}</a></h2>
            <h3> {{this.summary}}</h3>

            <input type="text" data-value="title-{{this.id}}" class="form-control" placeholder="Note Title">
            <input type="text" data-value="body-{{this.id}}" class="form-control" placeholder="Note Text">
            <button id={{this.id}} class="save-note">Add Note</button>
            <br>
        </div>

        <div class="note-container">
            {{!-- {{#if this.note}} --}}
            {{#each this.note}}
            <div class="note-info">
                <p>{{title}}</p>
                <p>{{body}}</p>
                <button id={{id}} class="delete-note">Delete Note</button>
            </div>
            {{/each}}
            {{!-- {{/if}} --}}
        </div>
    </div>
    {{/each}}
</div>