<h1>News</h1>
<div>
    {{#each dbArticle}}
    <div class="flex-container">
        <div class="article-info">
            <a href={{this.link}}>{{this.headline}}</a>
            <p> {{this.summary}}</p>

            <input type="text" data-value="title-{{this.id}}" class="form-control" placeholder="Note Title">
            <input type="text" data-value="body-{{this.id}}" class="form-control" placeholder="Note Text">
            <button id={{this.id}} class="save-note">Add Note</button>
            <br>
        </div>

        <div class="note-info">
            {{#if this.note}}
            <p>{{this.note.title}}</p>
            <p>{{this.note.body}}</p>
            <button id={{this.note.id}} class="delete-note">Delete Note</button>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>